# Compiler files
cache/
out/

# Commonly ignored directories
.logs/
.ignore/

# Ignores generated deployment broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# macOS
.DS_Store
